body {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  background: #F2ECCD;
  color: #fff;
}
h3 {
  color: #000;
}
.font-glass-antiqua {
  font-family: 'Glass Antiqua', cursive;
}

a {
  text-decoration: none;
  color: #69BF8E;
  cursor: pointer;
}
a:active {
  text-decoration: none;
}
a:focus {
  color: #BF4135;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  color: #BF4135;
  text-decoration: none;
}

.symbol {
  font-size:3em;
}

header
{
  background: #000;
}

nav {
  background: #135f64;
}

.logo {
  /* background: #BF4135; */
  padding: 15px;
}
.logo svg {
  padding: 0;
}

.intro {
  background: #bf4135;
  padding: 10px 10px 5px;
}

.content {
  margin-top: 10px;
  padding: 30px;
  background: #F2B74B;
}

.project img {
  border: 5px solid #D88F36;
}

/* LOGO */
svg {
  max-height: 100%;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
svg.defs-only {
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
line {
  stroke: #D88F36;
  stroke-width: 10;
  stroke-linecap: round;
}
/* .logo-bracket line { */
/*   stroke-opacity: .5; */
/* } */
text {
  font-size: 8em;
  font-family: 'Glass Antiqua', sans-serif;
  fill: #F2ECCD;
}
/* END LOGO */
